body {margin:0;padding:0;}
.header {background-color:#111;}

* {transition:all 1.0s;-webkit-transition:all 1.0s;font-family: 'Roboto', sans-serif;}
.header-nav {position:relative;float:left;margin:0 auto;}
.header-nav ul {position:absolute;float:left;list-style:none;margin:0;padding:0;}
.header-nav ul li {position:relative;float:left;border-left:4px solid rgba(224, 52, 106, 1);}
.header-nav ul li ul {margin-left:-4px;}
.header-nav > ul {position:relative;}
.header-nav > ul > li:last-child {border-right:4px solid rgba(224, 52, 106, 1);}

.header-nav > ul > li > .header-nav-link + ul li {width:150px;opacity:0;height:0;margin-top:-48px;border-bottom:2px solid rgba(224, 52, 106, 1);}
.header-nav > ul > li:hover .header-nav-link + ul > li {opacity:1;height:auto;margin-top:0;}
.header-nav .header-nav-link {float:left;text-decoration:none;color:#FFF;font-weight:300;padding:15px;width:100%;}
.header-nav .header-nav-link:hover {background-color:rgba(224, 52, 106, 1) !important;}

.header-nav .header-nav-top-link {padding: 25px 15px 25px;}
.header-nav ul li:hover .header-nav-link {background-color:#333;}
.header-nav ul li:hover .header-nav-top-link {background-color:rgba(224, 52, 106, 0.8);}

.header-nav > ul > li > .header-nav-top-link + ul {top:70px;}
.header-nav > ul > li:hover .header-nav-sub-link {background-color:#333;}

.header-logo > .header-logo-name {float:left;color:#FFF;font-size:30px;font-weight:bold;padding:14px 0;}
.header-logo > .header-logo-name:hover {text-decoration:none;}

@media (max-width: 767px) {
  .header-nav > ul > li {width:100%;border-right:4px solid rgba(224, 52, 106, 1);border-bottom:2px solid rgba(224, 52, 106, 1);}
  .header-nav > ul > li:first-child > a {font-size:18px;font-weight:400;}
  .header-nav > ul > li:last-child {border-bottom:none;}
  .header-nav > ul > li > .header-nav-top-link + ul {position:relative;top:0px;left:4px;width:100%;}
  .header-nav > ul > li > .header-nav-top-link + ul li {position:relative;float:left;border-left:none;width:100%;}
}

header-nav-link header-nav-sub-link{
  z-index:100;
  
}

.input btn.btn-danger {
  z-index:1;
}

.portfolio-item {
	padding: 0 !important;
}
.sample6 {

	overflow:		hidden;
	margin:			10px 8px 10px 16px;
	position:		relative;
}
.sample6 img {
	max-width: 100%;
} 
.sample6 .caption {
	font-size:		130%;
	color:			#fff;
	text-align: center;
	height: 100%;
	padding-top: 5%;
	
}
.sample6 .mask {
	width:			100%;
	height:			100%;
	position:		absolute;
	top:			-100%;	/* 枠の上に置いて表示させない */
	left:			0;
	background-color:	rgba(0,0,0,0.4);
	-webkit-transition:	all 0.6s ease;
	transition:		all 0.6s ease;
}
.sample6:hover .mask {
	top:			0;	/* 下に降りてくる���うに見せる */
	

}

.timeline .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #fed136;
}


input.search {
/*基本のスタイル*/
    width: 50px;
    height: 50px;
    border: solid 2px #666666;
    border-radius: 25px;
/*テキスト入力のエリアを調整*/
    padding: 20px;
/*虫眼鏡アイコンを背景で指定*/
    background-image: url("../img/logos/Search-icon.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
/*フォーカスしたときのトランジション設定 すべてのプロパティが0.5秒で切り替わる*/
    transition: all 0.5s;
}

input.search:focus {
/*フォーカスした時に横に伸ばす*/
    width: 300px;
/*フォーカスした時の虫眼鏡アイコンの位置調整*/
    background-position: 96% 50%;
/*テキスト入力が虫眼鏡アイコンに被らないように*/
    padding-right: 50px;
}

